<div class="relative container z-30 -mt-48 mb-12 lg:mb-32">
  <div
    class="relative flex h-[500px] items-center rounded-2xl border border-zinc-300 bg-white shadow-lg md:h-96"
  >
    {{#if (eq this.index 0)}}
      <CarouselSlide>
        <:title>
          Open standards
        </:title>
        <:text>
          We use existing, publicly available standards and tools &mdash; to
          make data shareable, reusable, and avoid vendor lock-in
        </:text>
        <:image>
          <img
            src="/assets/vector/open-standards.svg"
            class="h-full object-cover"
            alt="Open standards"
          />
        </:image>
      </CarouselSlide>

    {{else if (eq this.index 1)}}
      <CarouselSlide>
        <:title>
          Powerful web apps
        </:title>
        <:text>
          We use the latest frontend technologies to develop responsive and
          powerful single-page applications &mdash; for an outstanding user
          experience
        </:text>
        <:image>
          <img
            src="/assets/vector/spa.svg"
            class="h-full object-cover"
            alt="Single page applications"
          />
        </:image>
      </CarouselSlide>

    {{else if (eq this.index 2)}}
      <CarouselSlide>
        <:title>
          Data-centric architecture
        </:title>
        <:text>
          We build applications on a domain-specific data infrastructure &mdash;
          improving data modelling and management
        </:text>
        <:image>
          <img
            src="/assets/vector/data-centric.svg"
            class="h-full object-cover"
            alt="Data-centric architecture"
          />
        </:image>
      </CarouselSlide>

    {{else if (eq this.index 3)}}
      <CarouselSlide>
        <:title>
          Built with Linked Data
        </:title>
        <:text>
          We use semantic web technologies to model, store and publish data
          &mdash; to ensure high-quality data flows and avoid data silos
        </:text>
        <:image>
          <img
            src="/assets/vector/linked-data.svg"
            class="h-full object-cover"
            alt="Linked Data"
          />
        </:image>
      </CarouselSlide>
    {{/if}}
  </div>

  <div class="flex w-full items-center justify-start py-2">
    <div class="relative flex items-center justify-center space-x-2">
      {{#each this.items as |item|}}
        <button
          {{on "click" (fn this.setIndex item)}}
          type="button"
          class="h-2 w-10 rounded-full border border-zinc-300 bg-zinc-200 duration-500 hover:bg-white focus:outline-white sm:w-12
            {{if
              (eq this.index item)
              '
        relative w-28 !bg-zinc-50 duration-500 sm:w-36'
            }}"
        >
          <span class="sr-only">slide number {{item}}</span>
          {{#if (eq this.index item)}}
            <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-r from-red-700 to-red-500 rounded-lg animate-[grow_7s_linear]">
              <span class="sr-only">current slide</span>
            </div>
          {{/if}}
        </button>
      {{/each}}
    </div>
  </div>
</div>