<div class="relative bg-gray-50 rounded-lg py-6 px-6 md:px-12 xl:px-24">
  {{#if (eq this.index 0)}}
    <CarouselSlide>
      <:title>
      Open standards
      </:title>
      <:text>
      We use existing, publicly available standards and tools
      &mdash; to make data shareable, reusable, and avoid vendor lock-in
      </:text>
      <:image>
      <img src="/assets/vector/open-standards.svg" alt="Open standards">
      </:image>
    </CarouselSlide>
  {{else if (eq this.index 1)}}
    <CarouselSlide>
      <:title>
      Powerful web apps
      </:title>
      <:text>
      We use the latest frontend technologies to develop responsive and powerful single-page applications
      &mdash; for an outstanding user experience
      </:text>
      <:image>
      <img src="/assets/vector/spa.svg" alt="Single page applications">
      </:image>
    </CarouselSlide>
  {{else if (eq this.index 2)}}
    <CarouselSlide>
      <:title>
      Data-centric architecture
      </:title>
      <:text>
      We build applications on a domain-specific data infrastructure
      &mdash; improving data modelling and management
      </:text>
      <:image>
      <img src="/assets/vector/data-centric.svg" alt="Data-centric architecture">
      </:image>
    </CarouselSlide>
  {{else if (eq this.index 3)}}
    <CarouselSlide>
      <:title>
      Built with Linked Data
      </:title>
      <:text>
      We use semantic web technologies to model, store and publish data
      &mdash; to ensure high-quality data flows and avoid data silos
      </:text>
      <:image>
      <img src="/assets/vector/linked-data.svg" alt="Linked Data">
      </:image>
    </CarouselSlide>
  {{/if}}
</div>
<div class="mt-8 flex space-between items-center">
  <div class="flex items-center space-x-2 justify-center">
    {{#each this.items as |item|}}
      <button type="button"
        class="h-3 rounded-full bg-gray-50 focus:outline-white border border-gray-100 hover:bg-gray-200 {{if (eq this.index item) "w-28 sm:w-36 relative" "w-10 sm:w-12"}}"
        {{on 'click' (fn this.setIndex item)}}>
        <span class="sr-only">Slide number {{item}}</span>
        {{#if (eq this.index item)}}
          <div class="progress">
            <span class="sr-only">Current slide</span>
          </div>
        {{/if}}
      </button>
    {{/each}}
  </div>
</div>
