<li
  class="flex h-full flex-col rounded border border-zinc-500 bg-gray-100 p-8 px-6 lg:px-8"
>
  <div class="mb-6 flex-1">
    <h3
      class="mb-3 text-base font-bold text-gray-900 sm:text-lg md:text-xl"
    >{{@title}}</h3>
    <p class="text-sm font-medium text-gray-700">{{@text}}</p>
  </div>
  <div class="flex items-center justify-between">
    <div class="hover:bg-gray-200">
      {{yield}}
    </div>
    <img class="w-24" src={{@illustration}} alt={{@title}} />
  </div>
</li>