<nav class={{unless @dark "border-b border-gray-lightest"}}>
  <div class="nav-inner">
    <LinkTo @route="index" class="nav-logo {{if @dark "text-white" "text-black"}}">Redpencil<span class="text-red">.</span>io</LinkTo>
    <ul class="nav-list group-row">
      <li class="nav-list-item {{if @dark "text-white" "text-black"}}"><LinkTo @route="services">Services</LinkTo></li>
      <li class="nav-list-item {{if @dark "text-white" "text-black"}}"><LinkTo @route="projects">Projects</LinkTo></li>
      <li class="nav-list-item {{if @dark "text-white" "text-black"}}"><LinkTo @route="who-we-are">Who we are</LinkTo></li>
      <li class="nav-list-item {{if @dark "text-white" "text-black"}}"><LinkTo @route="contact">Contact</LinkTo></li>
      <li class="nav-list-item {{if @dark "text-white" "text-black"}}"><LinkTo @route="careers">Careers</LinkTo></li>
    </ul>
  </div>
</nav>