{{! DESKTOP NAV }}
<nav
  class='container relative z-10 hidden items-center justify-between py-5 lg:flex'
  aria-label='desktop navigation'
>
  <LinkTo @route='index'>
    <img
      class='h-6 w-auto'
      src='/assets/vector/rpio-logo-light.svg'
      alt='redpencil.io'
    />
  </LinkTo>

  <ul class='flex items-center justify-between'>
    <li class='mx-6 text-sm font-medium text-zinc-400 hover:text-zinc-200'>
      <LinkTo @route='services'>Services</LinkTo>
    </li>
    <li class='mx-6 text-sm font-medium text-zinc-400 hover:text-zinc-200'>
      <LinkTo @route='projects'>Projects</LinkTo>
    </li>
    <li class='mx-6 text-sm font-medium text-zinc-400 hover:text-zinc-200'>
      <LinkTo @route='who-we-are'>Who we are</LinkTo>
    </li>
    <li class='mx-6 text-sm font-medium text-zinc-400 hover:text-zinc-200'>
      <LinkTo @route='careers'>Careers</LinkTo>
    </li>
  </ul>
  <LinkTo
    class='rounded border-2 border-red-500 bg-red-800 px-12 py-2 text-sm font-medium text-white shadow shadow-red-500/10 hover:border-transparent hover:bg-red-600'
    @route='contact'
  >Contact</LinkTo>
</nav>

{{! MOBILE NAV  }}
<nav
  class='relative z-50 flex w-full flex-col items-start lg:hidden
    {{if this.isOpenMenu "h-screen"}}
    overflow-hidden'
  aria-label='mobile navigation'
>
  <div class='flex w-full items-center justify-between p-3'>
    <LinkTo @route='index'>
      <img
        class='h-5'
        src='/assets/vector/rpio-logo-light.svg'
        alt='redpencil.io'
      />
    </LinkTo>
    <button
      type='button'
      class='border border-gray-600 bg-gray-800 p-1'
      {{on 'click' this.toggleMenu}}
    >
      {{#if this.isOpenMenu}}
        {{svg-jar 'close-line' class='text-gray-200' fill='currentColor'}}
      {{else}}
        {{svg-jar 'menu-line' class='text-gray-200' fill='currentColor'}}
      {{/if}}
    </button>
  </div>
  {{#if this.isOpenMenu}}
    <div
      class='flex w-full flex-1 flex-col justify-between p-3'
      {{body-scroll-lock}}
    >
      <ul
        class='flex flex-col items-center divide-y divide-gray-700 py-6 text-gray-300'
      >
        <li class='flex w-full py-3 text-xl'>
          <LinkTo class='w-full' @route='index'>Homepage</LinkTo>
        </li>
        <li class='flex w-full py-3 text-xl'>
          <LinkTo class='w-full' @route='services'>Services</LinkTo>
        </li>
        <li class='flex w-full py-3 text-xl'>
          <LinkTo class='w-full' @route='projects'>Projects</LinkTo>
        </li>
        <li class='flex w-full py-3 text-xl'>
          <LinkTo class='w-full' @route='who-we-are'>Who we are</LinkTo>
        </li>
        <li class='flex w-full py-3 text-xl'>
          <LinkTo class='w-full' @route='careers'>Careers</LinkTo>
        </li>
        <li class='flex w-full py-3 text-xl'>
          <LinkTo class='w-full' @route='contact'>Contact</LinkTo>
        </li>
      </ul>
    </div>
  {{/if}}
</nav>