
{{!-- DESKTOP NAV --}}
<nav class="nav">
  <LinkTo @route="index">
    <img class="h-6" src="/assets/vector/rpio-logo.svg" alt="redpencil.io">
  </LinkTo>
  <ul class="nav-ul">
    <li class="nav-li">
      <LinkTo @route="services">Services</LinkTo>
    </li>
    <li class="nav-li">
      <LinkTo @route="projects">Projects</LinkTo>
    </li>
    <li class="nav-li">
      <LinkTo @route="who-we-are">Who we are</LinkTo>
    </li>
    <li class="nav-li">
      <LinkTo @route="careers">Careers</LinkTo>
    </li>
  </ul>
  <LinkTo class="nav-button" @route="contact">Contact</LinkTo>
</nav>


{{!-- MOBILE NAV  --}}
<nav class="m-nav {{if this.active 'h-screen'}} overflow-hidden">
  <div class="m-nav-bar">
    <LinkTo @route="index">
      <img class="h-5" src="/assets/vector/rpio-logo.svg" alt="redpencil.io">
    </LinkTo>
    <button type="button" class="m-nav-toggle" {{on 'click' this.toggleActive}}>
      {{#if this.active}}
        {{svg-jar "close-line"}}
      {{else}}
        {{svg-jar "menu-line"}}
      {{/if}}
    </button>
  </div>
  {{#if this.active}}
    <div class="m-nav-content" {{body-scroll-lock}}>
      <ul class="m-nav-ul">
        <li class="m-nav-li">
          <LinkTo class="w-full" @route="services">Services</LinkTo>
        </li>
        <li class="m-nav-li">
          <LinkTo class="w-full" @route="projects">Projects</LinkTo>
        </li>
        <li class="m-nav-li">
          <LinkTo class="w-full" @route="who-we-are">Who we are</LinkTo>
        </li>
        <li class="m-nav-li">
          <LinkTo class="w-full" @route="careers">Careers</LinkTo>
        </li>
        <li class="m-nav-li">
          <LinkTo class="w-full" @route="contact">Contact</LinkTo>
        </li>
      </ul>
    </div>
  {{/if}}
</nav>