<div class="flex items-center space-x-2 text-gray-600">
  <a class="block" href="mailto:info@redpencil.io">
    {{svg-jar "email" class="w-6 hover:text-white"}}
    <span class="sr-only">Send us an email</span>
  </a>
  <a class="block" href="https://twitter.com/redpencilio">
    {{svg-jar "twitter" class="w-6 hover:text-white"}}
    <span class="sr-only">Visit our Twitter page</span>
  </a>
  <a class="block" href="https://www.linkedin.com/company/redpencilio/">
    {{svg-jar "linkedin" class="w-6 hover:text-white"}}
    <span class="sr-only">Visit our LinkedIn page</span>
  </a>
  <a class="block" href="https://github.com/redpencilio">
    {{svg-jar "github" class="w-6 hover:text-white"}}
    <span class="sr-only">Visit our Github page</span>
  </a>
  <a class="block" href="https://hub.docker.com/u/redpencil">
    {{svg-jar "dockerhub" class="w-6 hover:text-white "}}
    <span class="sr-only">Visit our DockerHub page</span>
  </a>
</div>
