<div class="container -mt-48 mb-12 lg:mb-32 z-30 relativ">
  <div class="relative flex bg-gray-900 h-80 md:h-96 items-center shadow-lg border border-gray-800">
    {{#if (eq this.index 0)}}
    <Hero::CarouselSlide>
      <:title>
        Open standards
      </:title>
      <:text>
        We use existing, publicly available standards and tools
        &mdash; to make data shareable, reusable, and avoid vendor lock-in
      </:text>
      <:image>
        <img src="/assets/vector/open-standards.svg" alt="Open standards">
      </:image>
    </Hero::CarouselSlide>

    {{else if (eq this.index 1)}}
    <div
      class="z-10 flex items-center justify-between h-full w-full p-3 md:p-6 bg-cover lg:bg-contain bg-no-repeat bg-right-top bg-opacity-40 bg-power-spa">
      <div class="w-full md:w-2/3 lg:w-1/2 lg:px-6">
        <h4 class="text-xl md:text-2xl font-medium mb-4 text-gray-100">Powerful web apps</h4>
        <p class="text-sm md:text-base text-gray-400">We use the latest frontend technologies to develop responsive and
          powerful single-page applications
          &mdash; for an outstanding user experience
        </p>
      </div>
    </div>
    {{else if (eq this.index 2)}}
    <div
      class="z-10 flex items-center justify-between h-full w-full p-3 md:p-6 bg-cover lg:bg-contain bg-no-repeat bg-right-top bg-opacity-40 bg-data-centric">
      <div class="w-full md:w-2/3 lg:w-1/2 lg:px-6">
        <h4 class="text-xl md:text-2xl font-medium mb-4 text-gray-100">Data-centric architecture</h4>
        <p class="text-sm md:text-base text-gray-400">
          We build applications on domain-specific data infrastructures better data
          &mdash; improving data management and eliminating data silos
        </p>
      </div>
    </div>

    {{else if (eq this.index 3)}}
    <div
      class="z-10 flex items-center justify-between h-full w-full p-3 md:p-6 bg-cover lg:bg-contain bg-no-repeat bg-right-top bg-opacity-40 bg-linked-data">
      <div class="w-full md:w-2/3 lg:w-1/2 lg:px-6">
        <h4 class="text-xl md:text-2xl font-medium mb-4 text-gray-100">Built for Linked Data</h4>
        <p class="text-sm md:text-base text-gray-400">We use Semantic Web technologies to model our frameworks with
          graphs and reasoning.
          Applications with native linked data capabilities ensure quality data flows. Linked Open Data flows ensures
          data
          is visible and reusable.
        </p>
      </div>
    </div>
    {{/if}}
  </div>

  <div class="flex justify-start items-center w-full py-2">
    <div class="relative flex items-center space-x-2 justify-center">
      {{#each this.items as |item|}}
      <button {{ on 'click' (fn this.setIndex item)}} type="button"
        class="w-10 sm:w-12 h-2 rounded-full bg-gray-200 focus:outline-white border hover:bg-gray-300 duration-500 {{if (eq this.index item) "
        w-28 sm:w-36 bg-gray-50 duration-500 relative"}}">
        <span class="sr-only">slide number {{item}}</span>
        {{#if (eq this.index item) }}
        <div class="progress">
          <span class="sr-only">current slide</span>
        </div>
        {{/if}}
      </button>
      {{/each}}
    </div>
  </div>
</div>