<div class="container">
  <div class="carousel">
    {{#if (eq this.index 0)}}
    <div class="carousel-slide bg-open-standards">
      <div class="carousel-header">
        <h4 class="carousel-title">Open standards</h4>
        <p class="carousel-text">We use existing, publicly available standards — to make data shareable, reusable, and
          avoid vendor lock-in
        </p>
      </div>
    </div>

    {{else if (eq this.index 1)}}
      <div class="carousel-slide bg-power-spa">
        <div class="carousel-header">
          <h4 class="carousel-title">Powerful single-page applications</h4>
          <p class="carousel-text">We use the latest frontend technologies to develop web applications that are responsive
            and
            powerful
            — for an outstanding user experience
          </p>
        </div>
      </div>
    {{else if (eq this.index 2)}}
      <div class="carousel-slide bg-data-centric">
        <div class="carousel-header">
          <h4 class="carousel-title">Data-centric architecture</h4>
          <p class="carousel-text">We create and build on domain-specific data infrastructures better data — improving data
            management and eliminating data silos
          </p>
        </div>
      </div>

    {{else if (eq this.index 3)}}
      <div class="carousel-slide bg-linked-data">
        <div class="carousel-header">
          <h4 class="carousel-title">Built for Linked Data</h4>
          <p class="carousel-text">We use Semantic Web technologies to model our frameworks with graphs and reasoning.
            Applications with native linked data capabilities ensure quality data flows. Linked Open Data flows ensures data
            is visible and reusable.
          </p>
        </div>
      </div>
    {{/if}}
  </div>

  <div class="flex justify-start items-center w-full py-2">
    <div class="carousel-navigation">
      {{#each this.items as |item|}}
      <button {{ on 'click' (fn this.setIndex item)}} type="button" class="carousel-nav-link {{if (eq this.index item) "
        carousel-nav-link--active relative"}}">
        <span class="sr-only">slide number {{item}}</span>
        {{#if (eq this.index item) }}
        <div class="progress">
          <span class="sr-only">current slide</span>
        </div>
        {{/if}}
        </button>
      {{/each}}
    </div>
  </div>
</div>