
  <div class="carousel-item">
    {{#if (eq this.index 0)}}
    <div class="carousel-content">
      <div class="carousel-header">
        <h4 class="carousel-title">Open standards</h4>
        <p class="carousel-text">Using open data standards simplifies sharing, reuse, and aggregation. We build our solutions using existing, 
          publicly available standards - ensuring that the data generated is always compatible with existing tools and processes - 
          but avoiding dependency on any specific tool or vendor.</p>
      </div>
      <a href="" class="hero-button">
        <div class="hero-button-inner">
          learn more
        </div>
      </a>
    </div>
    <img class="carousel-illustration" src="/assets/vector/open-standards.svg" alt="linked data">

    {{else if (eq this.index 1)}}
    <div class="carousel-content">
      <div class="carousel-header">
        <h4 class="carousel-title">Powerful single-page applications</h4>
        <p class="carousel-text">We use the latest frontend technologies to develop web applications that are fast, powerful, and snappy - 
          and function perfectly in your browser.
Creating using microservices and containers allow for rapid and adaptive development. 
</p>
      </div>
      <a href="" class="hero-button">
        <div class="hero-button-inner">
          learn more
        </div>
      </a>
    </div>
      <img class="carousel-illustration" src="/assets/vector/spa.svg" alt="linked data">

    {{else if (eq this.index 2)}}
    <div class="carousel-content">
      <div class="carousel-header">
        <h4 class="carousel-title">Data-centric architecture</h4>
        <p class="carousel-text">A ‘data first’ approach to design increases the quality of data - and application functionality. 
It allows us to base the data infrastructure on the domain - enabling more robust and sustainable data management and eliminating data silos.
</p>
      </div>

      <a href="" class="hero-button">
        <div class="hero-button-inner">
          learn more
        </div>
      </a>
    </div>
      <img class="carousel-illustration" src="/assets/vector/data-centric.svg" alt="linked data">

    {{else if (eq this.index 3)}}
    <div class="carousel-content">
      <div class="carousel-header">
        <h4 class="carousel-title">Built for Linked Data</h4>
        <p class="carousel-text">We use Semantic Web technologies to model our frameworks with graphs and reasoning. 
          Applications with native linked data capabilities ensure quality data flows. Linked Open Data flows ensures data is visible and reusable.
</p>
      </div>
      <a href="" class="hero-button">
        <div class="hero-button-inner">
          learn more
        </div>
      </a>
    </div>
      <img class="carousel-illustration" src="/assets/vector/linked-data.svg" alt="linked data">
    {{/if}}

  </div>

  <div class="carousel-navigation">
    {{#each this.items as |item|}}
    <button {{ on 'click' (fn this.setIndex item)}} type="button"
      class="carousel-nav-link {{if (eq this.index item) "carousel-nav-link--active"}}"></button>
    {{/each}}
  </div>