<div class="bg-gradient-to-r from-black to-gray-900 pb-36">
  <Navbar />
  <div class="careers-header">
    <div class="careers-header-inner">
      <h1 class="careers-header-title text-white">Careers</h1>
      <p class="page-header-text text-center">Work with our team of 12 people to create the #WebWeWant</p>
    </div>
  </div>
</div>

<section class="careers-list -mt-32 md:-mt-20">
  <CareerCard @isLink={{true}} @linkTo="careers.full-stack-developer" @title="Full Stack Web Developer" @status="Open"
    @contract="Full-time" @remoteOrLocal="Remote" @location="Belgium (preferably)" />

  <CareerCard @isLink={{true}} @linkTo="careers.internship" @title="Internship" @status="Open" @contract="Temporary"
    @remoteOrLocal="Remote" @location="Global" />
</section>

<section class="container mb-48">
  <div class="flex flex-col items-center mb-24 md:mb-36">
      <div class="w-auto text-center">
        <h2 class="text-xl md:text-3xl mb-1 font-medium text-gray-900 whitespace-nowrap">Working at redpencil</h2>
        <p class="title-sm-thin mb-12">What you can expect</p>
      </div>

      <ul class="flex flex-1 flex-wrap border border-gray-300 rounded h-full md:divide-x divide-gray-100">
        <li
          class="bg-white w-1/2 p-6 flex flex-row md:flex-col items-center text-zinc-900 md:space-y-4 rounded">
          <div class="flex justify-center items-center text-red-800 w-10 h-10 rounded">
            {{svg-jar "balance" class="w-6"}}
          </div>
          <p class="font-medium text-center">Work-life balance</p>
        </li>
        <li
          class="bg-white w-1/2 p-6 flex flex-row md:flex-col items-center text-zinc-900 md:space-y-4">
          <div class="flex justify-center items-center text-red-800 w-10 h-10 rounded">
            {{svg-jar "remote-friendly" class="w-6"}}
          </div>
          <p class=" font-medium text-center">Remote friendly</p>
        </li>
        <li
          class="bg-white w-1/2 p-6 flex flex-row md:flex-col items-center text-zinc-900 md:space-y-4">
          <div class="flex justify-center items-center text-red-800 w-10 h-10 rounded">
            {{svg-jar "learning-time" class="w-6"}}
          </div>
          <p class=" font-medium text-center">20% of your time for learning</p>
        </li>
        <li
          class="bg-white w-1/2 p-6 flex flex-row md:flex-col items-center text-zinc-900 md:space-y-4 rounded">
          <div class="flex justify-center items-center text-red-800 w-10 h-10 rounded">
            {{svg-jar "technologies" class="w-6"}}
          </div>
          <p class=" font-medium text-center">Work with cutting edge technologies</p>
        </li>
      </ul>
    </div>
    <div class="flex-1">
      <div class="mb-6 text-center">
        <h2 class="text-xl md:text-3xl mb-1 font-medium text-gray-900 ">Useful resources</h2>
        <p class="title-sm-thin mb-12">Discover the code</p>
      </div>
      <div class="max-w-2xl flex flex-col rounded-lg mx-auto border divide-y">
        <a href="https://github.com/redpencilio" target="_blank" rel="noopener noreferrer"
          class="px-6 py-4 flex items-center justify-between text-gray-800 bg-white rounded-t-lg">
          {{svg-jar "github" class="w-6"}}
          <p class=" font-medium">Redpencilio</p>
          {{svg-jar "external-link" class="w-5"}}
        </a>
        <a href="https://github.com/lblod" target="_blank" rel="noopener noreferrer"
        class="px-6 py-4 flex items-center justify-between text-gray-800 bg-white">
          {{svg-jar "github" class="w-6"}}
          <p class=" font-medium">LBLOD</p>
          {{svg-jar "external-link" class="w-5"}}
        </a>
        <a href="https://github.com/mu-semtech" target="_blank" rel="noopener noreferrer"
          class="px-6 py-4 flex items-center justify-between text-gray-800 bg-white rounded-b-lg">
          {{svg-jar "github" class="w-6"}}
          <p class=" font-medium">Mu-semtech</p>
          {{svg-jar "external-link" class="w-5"}}
        </a>
      </div>
  </div>
</section>

{{!-- <div class="container">
  <ToolsCloud />
</div> --}}