<div class="bg-gradient-to-r from-black to-gray-900">
  <Navbar />
</div>


<div class="relative bg-gradient-to-t from-black to-gray-900">
  <div class="relative border-y  border-gray-800 z-10">
    <div class="container py-12 lg:py-32">

      <div class="flex flex-col lg:flex-row items-start lg:space-x-24 h-full">
        <div class="flex flex-col items-start pb-12 md:pb-20 flex-1">
          <h2 class="text-4xl lg:text-6xl font-medium mb-3 text-white whitespace-nowrap">Contact us</h2>
          <p class="text-base lg:text-lg w-full text-gray-300 mb-8">Want to know more about what our
            solutions can do for your organisation or want to help us develop the new world?
            Send us a message, and we will get back to you!</p>
          <Socials/>
        </div>

        <form {{on 'submit' this.sendEmail}}>
          <div class="flex flex-col space-y-3 w-full bg-white shadow rounded-md p-8">
            <div>
              <label for="name" class="sr-only">Your name</label>
              <div class="mt-1 relative">
                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                  {{svg-jar "person" class="h-4 w-4 text-gray-600"}}
                </div>
                <Input @type="text" name="name" id="name" @value={{this.name}}
                  class="block w-full py-4 pl-10 sm:text-sm border border-gray-300 rounded-md "
                  placeholder="name" />
              </div>
            </div>
            <div class="flex-1">
              <label for="email" class="sr-only"> email </label>
              <div class="mt-1 relative">
                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                  {{svg-jar "email-line" class="h-4 w-4 text-gray-600"}}
                </div>
                <Input @type="text" name="email" id="email" @value={{this.email}}
                  class="block w-full py-4 pl-10 sm:text-sm border border-gray-300 rounded-md "
                  placeholder="you@example.com" required />
              </div>
            </div>
            <div class="flex-1">
              <label for="tel" class="sr-only"> Telephone number </label>
              <div class="mt-1 relative">
                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                  {{svg-jar "phone" class="h-4 w-4 text-gray-600"}}
                </div>
                <Input @type="text" name="tel" id="tel" @value={{this.phone}}
                  class="block w-full py-4 pl-10 sm:text-sm border border-gray-300 rounded-md "
                  placeholder="+12 345678910" />
              </div>
            </div>
            <div>
              <label for="message" class="sr-only">Message</label>
              <div class="mt-1 relative">
                <Textarea name="message"
                  class="block w-full p-4 sm:text-sm rounded-md bg-gray-100 border border-gray-300"
                  placeholder="message" id="message" @value={{this.message}} cols="30" rows="10" required />
              </div>
            </div>
            <button type="submit" class="flex space-x-6 justify-center items-center py-4 bg-red-700 text-white rounded-md text-sm font-medium hover:bg-red-600">
              Send message
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
<Footer />

{{#if this.showNotification}}
{{#if this.success}}
<Notification @success={{this.success}} @title="Message successfully sent!"
  @text="Thank you for your message, we will get back to you as soon as possible" @onClose={{this.close}} />
{{else}}
<Notification @success={{this.success}} @title="Something went wrong"
  @text="Please try again later or mail us directly at meettheteam@redpencil.io" @onClose={{this.close}} />
{{/if}}
{{/if}}