
<div class="bg-gradient-to-r from-black to-gray-900 pb-64 md:pb-36">
  <Navbar @dark={{true}}/>
  <div class="container">
    <div class="flex flex-col items-center py-12 md:py-20  text-center w-full">
      <h2 class="text-4xl lg:text-6xl font-medium mb-3 text-white">Contact us</h2>
      <p class="text-base lg:text-lg w-2/3 font-light text-gray-400 mb-24">Want to know more about what our solutions can do for your organisation or want to help us develop the new world?
      Send us a message, and we will get back to you!</p>
      {{svg-jar "contact-magic" class='w-full'}}
    </div>
  </div>
</div>

<section>

  <div class="contact-form">
    <form class="contact-form-inner p-6 bg-gray-100 -mt-28" {{on 'submit' this.sendEmail}}>
      <div>
        <label for="name" class="sr-only">name </label>
        <div class="input-wrapper">
          <div class="input-icon-wrapper">
            <svg class="h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd">
              </path>
            </svg>
          </div>
          <Input @type="text" @name="name" @id="name" @value={{this.name}} class="input-box" @placeholder="John" />
        </div>
      </div>

      <div class="flex space-x-6">
        <div class="flex-1">
          <label for="email" class="sr-only"> email </label>
          <div class="input-wrapper">
            <div class="input-icon-wrapper">
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                fill="currentColor" aria-hidden="true">
                <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
              </svg>
            </div>
            <Input @type="text" @name="email" @id="email" @value={{this.email}} class="input-box"
              @placeholder="you@example.com" required />
          </div>
        </div>
        <div class="flex-1">
          <label for="tel" class="sr-only"> Telephone number </label>
          <div class="input-wrapper">
            <div class="input-icon-wrapper">
              <svg class="h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z">
                </path>
              </svg>
            </div>
            <Input @type="text" @name="tel" @id="tel" @value={{this.phone}} class="input-box"
              @placeholder="+12 345678910" />
          </div>
        </div>
      </div>
      <div>
        <label for="message" class="sr-only">Message</label>
          <div class="input-wrapper">
            <div class="input-icon-wrapper">
              <svg class="h-4 w-4 text-gray-400 mb-auto mt-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
              </svg>
            </div>
            <Textarea @name="message" class="textarea-box" @placeholder="message" @id="message" @value={{this.message}}
              @cols="30" @rows="10" required />
          </div>
      </div>
      <button type="submit" class="submit-button">
        Send
      </button>
    </form>
  </div>

</section>
<Footer/>

{{#if this.showNotification}}
  {{#if this.success}}
    <Notification @success={{this.success}} @title="Message successfully sent!"
      @text="Thank you for your message, we will get back to you as soon as possible" @onClose={{this.close}} />
  {{else}}
    <Notification @success={{this.success}} @title="Something went wrong"
      @text="Please try again later or mail us directly at meettheteam@redpencil.io" @onClose={{this.close}} />
  {{/if}}
{{/if}}

